@font-face {
	font-family: 'vcr';
	src: url('/font/VCR.woff')
	format('woff')
}
a {
    color: rgb(205, 154, 253);
}
body {
    background-color: #111;
    color: white;
    font-family: vcr;
    text-transform: uppercase;
}
#vidContainer {
    margin:0 auto;
    height:100%;
    width: 100%;
    text-align:center;
    overflow:hidden;
    max-width:178vh;
}
#vidPlayer {
    margin: 2vh 0;
    height:50%;
    width:100%;
}
p {
    margin: 0;
}
a.more-link {
    display: block;
}
@media only screen and (max-width: 768px) {
    a.more-link {
        font-size: 16px;
        margin-bottom: 2.5vh;
    }
    #vidFooter p {
        font-size: 12px;
        color: rgb(74, 74, 74);
    }
    #vidTitle {
        font-size: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    a.more-link {
        font-size: 24px;
        margin-bottom: 5vh;
    }
    #vidFooter p {
        font-size: 14px;
    }
    #vidTitle {
        font-size: 28px;
    }
  }
