@font-face {
	font-family: 'vcr';
	src: url('/font/VCR.woff')
	format('woff')
}
body {
    background-color: #111;
    color: white;
    font-family: vcr;
}
#vidTitle {
    position:relative;
    font-family: vcr;
    text-transform: uppercase;
    display: block;
    padding: 15px;
}
#vidContainer {
    margin: auto;
    width: 70%;
    height: auto;
    position: relative;
}
#vidPlayer {
    width: 100%;
    height: auto;
}
#vidFooter {
    display: block;
    margin: auto;
    width: 100%;
}

#vidFooter P {
    text-align: center;
    display: block;
    padding-top: 1em;
}
#vidFooter a {
    text-align: center;
    display: block;
    font-family: vcr;
    color: rgb(157, 59, 249);
    padding-top: 1em;
}

@media only screen and (max-width: 768px) {
    #vidFooter a {
        font-size: 14px;
    }
    #vidFooter p {
        font-size: 8px;
    }
    #vidTitle {
        font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    #vidFooter a {
        font-size: 24px;
    }
    #vidFooter p {
        font-size: 14px;
    }
    #vidTitle {
        font-size: 34px;
    }
  }