@font-face {
	font-family: 'vcr';
	src: url('/font/VCR.woff')
	format('woff')
}
a {
    color: rgb(205, 154, 253);
}
body {
    background-color: #111;
    color: white;
    font-family: vcr;
}
#vidTitle {
    position:relative;
    font-family: vcr;
    text-transform: uppercase;
    display: block;
    padding: 15px;
}
#vidContainer {
    margin:0 auto;
    height:100vh;
    text-align:center;
    overflow:hidden;
    max-width:178vh;
}
#vidPlayer {
    height:70%;
    width:70%;
}
#vidFooter {
    display: block;
    margin: auto;
    width: 100%;
}

#vidFooter P {
    text-align: center;
    display: block;
    padding-top: 1em;
}
#vidFooter a.more-link {
    text-align: center;
    display: block;
    font-family: vcr;
    padding-top: 1em;
}

@media only screen and (max-width: 768px) {
    #vidFooter a.more-link {
        font-size: 18px;
    }
    #vidFooter p, #vidFooter a {
        font-size: 12px;
    }
    #vidTitle {
        font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    #vidFooter a.more-link {
        font-size: 24px;
    }
    #vidFooter p, #vidFooter a {
        font-size: 14px;
    }
    #vidTitle {
        font-size: 26px;
    }
  }
